{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="static/login.css">
<link rel="stylesheet" type="javascript" href="static/login.js">
<div class="container">
    <div id="enter">
    	<div class="logo-image">
    		<img src="http://www.officialpsds.com/images/thumbs/Spiderman-Logo-psd59240.png" alt="Logo" title="Logo">
    	</div>
    	<h1>Title	</h1>
     	<form action="" method="" class="" role="form">
    		{{ form.hidden_tag() }}
        
			 <div class="input-group" id="username">
             <input id="username " class="input-field" name="username " placeholder="text " type="username " size="18" required>
                        {{ form.username.label( class ="form-control-label") }}
                       <br>
                        {% if form.username.errors %}
                            {{ form.username (class = "form-control form-control lg is-invalid") }}
                                <div class="alert alert-warning">
                                {% for error in form.username.errors %}
                                    <span>
                                        {{ error }}
                                    </span>
                                    {% endfor %}
                                </div>
                       {% endif %}
        <div id="form-login-password" class="input-group">
          <input id="passwd" class="input-field" name="password" placeholder="password" type="password" size="18" alt="password"  required>
        </div>
        <div id="form-login-remember" class="input-group">
          <input id="remember" class="input-field" name="remember" type="checkbox" value="yes" alt="Remember me" >
          <label for="remember">Remember me</label>
        </div>
        <div id="submit-buton" class="input-group">
                <input class="btn btn-ok input-field" type="submit" name="Submit" alt="sign in" value="sign in">
            </div>
      </form>
    </div>
    </div>
    {% endblock content %}